//
// Buttons
// --------------------------------------------------

// button 基础样式
.btn {
  display            : inline-block;
  text-align         : center;
  vertical-align     : middle;
  touch-action       : manipulation;
  cursor             : pointer;
  background-image   : none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space        : nowrap;
  font-size          : $btn-font-base;
  height             : $btn-height;
  line-height        : $btn-line-height;
  background         : transparent;
  -webkit-user-select: none;

  &:focus {
    outline: none;
  }
}

// button 不同的颜色，背景色
.btn-dark {
  border: 1px $white solid;
  color : $white;

  &.active,
  &:active {
    color       : $dim-black;
    background  : $white;
    border-color: $white;
  }
}

.btn-black {
  background: $black;
  border: 1px $black solid;
  color : $white;

  &.active,
  &:active {
    color       : $black;
    background  : $white;
  }
}

.btn-green {
  background: $green;
  border: 1px $green solid;
  color : $white;

  &.active,
  &:active {
    color       : $black;
    background  : $white;
  }
}

//TODO
// .btn-primary
// .btn-success
// .btn-warning
// .btn-danger
// .btn-lg
// .btn-xs
// .btn-sm

// button 不同的大小，是否圆角
.btn-block {
  margin: 0 10px;

  a { width: 100%; }
}

.btn-attention a {
  width: 145px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;

<<<<<<< HEAD
  i { font-size: 18px; }
}

.btn-attention-active {
  i { color: $red; }
=======
  i { font-size: 18px;  }
>>>>>>> dev
}
