//
// Buttons
// --------------------------------------------------

.btn,
button {
  display            : inline-block;
  text-align         : center;
  vertical-align     : middle;
  touch-action       : manipulation;
  cursor             : pointer;
  background-image   : none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  white-space        : nowrap;
  font-size          : $btn-font-base;
  height             : $btn-height;
  line-height        : $btn-line-height;
  background         : transparent;
  -webkit-user-select: none;

  &:focus {
    outline: none;
  }
}

.btn-dark {
  border: 1px $white solid;
  color : $white;

  &.active,
  &:active {
    color       : $dim-black;
    background  : $white;
    border-color: $white;
  }
}

.btn-black {
  background: $black;
  border: none;
  color : $white;

  &.active,
  &:active {
    color       : $black;
    background  : $white;
  }
}

//TODO
// .btn-primary
// .btn-success
// .btn-warning
// .btn-danger
// .btn-lg
// .btn-xs
// .btn-sm

.btn-block {
  margin: 0 10px;

  button {
    width: 100%;
  }
}
