@mixin flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin flex_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

@mixin font_color($color) {
  color: $color !important;
}

@mixin bg_color($color) {
  background-color: $color;
}
