@mixin flex {
  display: -webkit-box;
  dispaly: box;
  display: -webkit-flex;
  display: flex;
}

@mixin flex_1 {
  -webkit-box-flex: 1;
          box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}

@mixin font_color($color) {
  color: $color !important;
}

@mixin bg_color($color) {
  background-color: $color;
}
