%flex {
  display: -o-box;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%flex-align {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-align-items: center;
  -webkit-box-align  : center;
  -ms-flex-align     : center;
  align-items        : center;
}

%flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex    : 1;
  -ms-flex        : 1;
  flex            : 1;
  min-width       : 0;
}

/// 单行省略号
///
/// @group 外观
/// @name text_ellipsis
%text_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-break:break-all;
  //在IE9的<td>中，如果之前已经设置了word-wrap:break-word，则这里的white-space:nowrap会失效，所以要在这里加上word-wrap:normal来以防万一
  word-wrap: normal;
}
