*{
  -webkit-font-smoothing: antialiased;
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}


li { list-style: none; }
a  { text-decoration: none; }
