/*Todo 背景色是用原本的#f9f9f9; 还是直接覆盖掉?
 *
body {
  background: #eee !important;
}
*/

.yp_label {
  display: block;
  max-width: 5em;
  margin-right: 1em;
}

.yp_label_fix {
  display: block;
  width: 5em;
  margin-right: 1em;
}

/*订单右上角符号*/
.top_right_icon {
  position: absolute;
  right: 16px;
  top: 15px;
}

.yp_media_box {
  -webkit-display: flex;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  padding: 5px 15px;

  > .flex_spring {
    -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
  }

  a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #333333 !important;
  }
}

/* 覆盖weui */
.weui_media_box .weui_media_desc {
  line-height: 1.6;
}

.icon_small {
  font-size: 13px;
}