/*Todo 背景色是用原本的#f9f9f9; 还是直接覆盖掉?
 *
body {
  background: #eee !important;
}
*/

.yp_label {
  display: block;
  max-width: 5em;
  margin-right: 1em;
}

.yp_label_fix {
  display: block;
  width: 5em;
  margin-right: 1em;
}

/*订单右上角符号*/
.top_right_icon {
  position: absolute;
  right: 16px;
  top: 15px;
}

.yp_media_box {
  @include flex;
  padding: 5px 15px;

  > .flex_spring {
    @include flex_1;
  }

  a {
    display: inline-block;
    position: relative;
    font-size: 14px;
  }
}

.weui_media_box .weui_media_desc { line-height: 1.6; }
.icon_small { font-size: 13px; }

/* 覆盖weui */
.color_red { @include font_color($red) }
.color_green { @include font_color($green) }
.color_lightgray { @include font_color($light_gray) }
.color_gray { @include font_color($gray) }
.color_dark { @include font_color($dark) }



