// components/FindMyPassPage
.findMyPassPage {
  position: fixed;
  padding: 0 20px;
  min-height: 100%;
  background: #282828;

  .form {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .input {
    background-color: inherit;
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    border-width: 0 0 1px;
    border-radius: 0;
    color: #fff;
    border-color: transparent transparent #333;
  }

  .captcha {
    padding: 8px 0;
    border: 0;
    font-size: .8333em;
    font-weight: 600;
    background-color: inherit;
    color: #6a6a6a;
    margin-left: -63px;
  }

  .submits {
    margin-top: 10px;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: transparent;
    border-radius: 0;
  }
}
