@import "../global";

.YPUIOrderCard {
  width: 100%;
  height: 161px;

  &:not(:first-child) {
    border-top: 10px #eee solid;
  }

  .container-header {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 112px;
    padding: 16px st(37) 19px st(22);
    font-size: 1.2em;
    border-bottom: 1px #ccc solid;
  }

  .container-footer {
    width: 100%;
    height: 49px;
    padding: 9px 19px 9px 22px;
    font-size: 1.4em;
    color: #888;

    p {
      height: 31px;
      line-height: 31px;
      display: inline-block;
    }

    a {
      width: 96px;
      height: 31px;
      color: #fff;
      font-size: (1.6em/1.4);
    }
  }

  .order-face {
    width: 77px;
    margin-right: st(22);
    display: inline-block;

    img { width: 100%; }
  }

  .order-msg {
    width: st(221);
    height: 77px;
    display: inline-block;
    vertical-align: top;
    color: #888;


    .order-title {
      height: 22px;
      margin-bottom: 12px;
      font-size: (1.6em/1.2);
      color: #333333;

      span {
        display: inline-block;
        width: 95%;
      }
    }

    .order-detail {
      height: 17px;
      line-height: 17px;
      margin-bottom: 8px;

      .prominent {  color: red; }
    }
  }

  .order-close {
    position: absolute;
    right: st(19);
    top: 16px;
    width: 14px;
    height: 14px;
  }
}

.YPUIOrderAside {
  width: 100%;
  height: 150px;
  padding-top: 20px;
  margin-top: 10px;
  background: #eeeeee;
  font-size:12px;
  color:#979797;
  line-height:24px;
  text-align:center;
}
