.menu {
  display: block;
}
.menu > div {
  z-index: 99;
  position: fixed;
  width: 64%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  -webkit-transition: transform ease 250ms;
  transition: transform ease 250ms;
}
.menu > div.left {
  background: white;
  left: -64%;
}
.menu > div.visible.left {
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}
