.menu {
  display: block;

  > div {
    position: fixed;
    z-index: 99;
    width: 64%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
            transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
            transition: transform ease 250ms;
  }

  > .left {
    background: white;
    left: -64%;
  }

  > .visible.left {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
