.grapherRow {
  width:  100%;
  background: white;
  margin-bottom:10px;

  .info {
    padding: 20px 10px;

    .grapher {
      .sign {
        font-size: 12px;
        color: #999;
      }
    }
    .avatar {
      background-size: contain;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: left;
      margin-right: 15px;
    }
    .title {
      font-size: 14px;
      color: #282828;
      line-height: 20px;
      font-weight: 600;
    }
    .dest {
      float: right;
      color: #282828;
      border: 1px solid #E5E5E5;
      display: inline-block;
      border-radius: 100px;
      padding: 0 10px 0 5px;
      font-size: 12px;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
      }
    }
  }

  .detail {
    padding: 0 10px;
    margin:10px 0;

    i {
      font-size: 18px;
      line-height: 0;
      vertical-align: middle;
    }

    ul {
      border-top: 1px dashed #E5E5E5;
      border-bottom: 1px dashed #E5E5E5;
      height: 45px;
      line-height: 45px;
      display:flex;
      align-items: center;

      li {
        border-right: 1px solid #282828;
        flex: 1;
        text-align: center;
        height:20px;
        line-height:20px;
        color: #666;
        font-size: 12px;

        &:last-child{
          border-right: none;
        }
      }
    }
  }

  .pics {
    ul {
      display: flex;
      align-items: center;
      padding:10px;

      li.cover{

        margin-right:2px;
        flex: 1;
        -webkit-background-size:cover;
        background-size:cover;
        height:116px;
        background-repeat: no-repeat;

      }
    }
  }
}

