.character-bar {
  position  : fixed;
  top       : 0;
  right     : 0;
  z-index   : $zindex-tag-box;
  width     : 100%;
  height: $tag-height;
  background: #fff;
  visibility: visible;
  border-bottom: 1px #ccc solid;

  .navbar {
    @extend %flex;
    width     : 100%;
    height: $tag-height;
    margin-left: -40px;;
    @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
      margin-left: -34px;
    }
    text-align: center;

    a {
      @extend %flex-1;
      line-height: $tag-height;
    }

    .active {
      color: $gold;
    }
  }
}

.character-bar  + .swipe {
  margin-top: 50px;
  border-bottom: 15px #f9f9f9 solid;
  background: white;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100px;

  .swipe-wrap {
    overflow: hidden;
    position: relative;
    height: inherit;
  }

  .swipe-item {
    float: left;
    width: 100%;
    margin-top: 20px;
    height: inherit;
    position: relative;
    font-size: 0;

    a {
      display: inline-block;
      vertical-align: top;
      width: 22%;
      margin-left: 2.4%;
      line-height: 5;
      font-size: 16px;
      color: $white;
      text-align: center;
      background: rgba(0, 0, 0, .8);

      .mask {
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .5);
      }
    }
  }
}
