.grapherIntro{
  background: $dim-black;
  width: 100%;

  .baseInfo{
    text-align: center;
    color: #e1e2e4;
    padding: 40px 0 20px 0;
    line-height: 30px;

    .avatar {
      margin: 0 auto;
      position: relative;
      left: 0;
      right: 0;
      background-size: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }

    .nickname {
      font-size: 14px;
      margin-top: 25px;

      i { color: $gold;  }
    }

    .font_small {
      display: block;
      padding: 0 10px;
      line-height: 20px;
    }

    .btn-attention {
      width: 90px;
      position: absolute;
      top: 24px;
      left: 110px;

      a {
        width: 90px;
        border-radius: 60px;
        border: 1px solid #8c8b8b;
        line-height: 36px;
        height: 36px;
       }

      i { color: $gold;   }
    }
  }

  .order {
    color: #e1e2e4;
    text-align: center;
    padding-bottom:20px;

    ul {
      padding: 0 10px;
      display:flex;

      li {
        flex: 1;
        font-size:12px;

        .count {
          font-family: DINCondensed-Bold;
          font-size: 40px;
          color: #e0e1e3;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }

  .tags {
    margin-bottom: 15px;
    padding: 0 34px;
    height: 25px;
    @extend %flex;
    @include flex_justify_content(space-around)

    li {
      height: 25px;
      padding: 0 5px;
      color: $white;
      border: 1px solid #8c8b8b;
    }
  }
}
