.grapherIntro{
  background: $dim-black;
  width: 100%;

  .baseInfo{
    text-align: center;
    color: #e1e2e4;
    padding: 40px 0;
    line-height: 30px;

    .avatar {
      background-size: cover;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin: 0 auto;
    }

    .nickname {
      font-size: 14px;
      margin-top: 25px;
    }

    .btn-dark { margin-top: 20px; }
  }

  .order {
    color: #e1e2e4;
    text-align: center;
    padding-bottom:20px;

    ul {
      padding: 0 10px;
      display:flex;

      li {
        flex: 1;
        font-size:12px;

        .count {
          font-family: DINCondensed-Bold;
          font-size: 40px;
          color: #e0e1e3;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }
}
