.login-register-container {
  width: 100%;
  min-height: 100%;
  background: $dim-black;

  .aside {
    margin: 20px 0;
    height: 12px;
    font-size: 12px;

    a {
      padding: 0 10px;
      color: #777;
    }
  }

  .btn-block {
    margin-bottom: 16px;
  }
}
