.login-register-container {
  width: 100%;

  .aside {
    margin: 20px 0;
    height: 12px;
    font-size: 12px;

    a {
      padding: 0 10px;
      color: #777;
    }
  }

  .btn-block { margin-bottom: 10px; }
}

.signup-page,
.find-password {
  position: relative;
  top: 0;
  right: 0;
  margin-bottom: 10px;

  .get-tel-code {
    position: absolute;
    top: 15px;
    right: 20px;
    color: $white;
  }
}

.find-password {
  width: 100%;

  .get-tel-code {
    top: 15px;
  }

  .btn-dark { margin-top: 20px; }
}

.find-password-go-home {
  padding-top: 10px;
  padding-right: 10px;
  color: $white;
}

.email_signup {
  color: $red;
  padding-right: 10px;
  padding-bottom: 10px;
  float: right;
}

// 服务条款
.terms {
  display: block;
  color: $silver;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 10px;
  float: left;
  font-size: 12px;
}
