.collect-list,
.attention-list { background: $white; }

.nothing-found {
  height: 58px;
  width: 100%;
  line-height: 58px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.mark-nav {
  height: 50px;
  width: 100%;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid $gray;

  .link-box {
    display: inline-block;
    width: 50%;
  }

  a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: $gray;
    font-size: 14px;
  }

  .active {
    color: $black;
    border-bottom: 1px $black solid;
  }
}

.collect-row {
  @extend %flex-align;
  padding: 10px;
  border-bottom: 1px solid $gray;

  .media-hd {
    margin-right: 10px;
    width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;

    .media-work {
      display: inline-block;
      width: 110px;
      height: 110px;
      vertical-align: middle;
    }
  }

  .media-bd {
    height: 110px;
    @extend %flex-1;

    .media-header {
      width: auto;
      height: 30px;
      margin-bottom: 10px;
    }

    .media-title {
      width: 70%;
      overflow: hidden;
      line-height: 30px;
      font-weight: 400;
      font-size: 16px;
      color: $black;
      text-overflow: ellipsis;//文字超过盒子宽度显示省略符号
      white-space: nowrap;//文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止
      /*不明白微信为毛写那么多和换行相关的属性*/
      word-wrap: normal;
      word-wrap: break-word;//允许长单词换行到下一行
      word-break: break-all;//使用浏览器默认的换行规则
    }

    .media-city {
      margin-top: 7px;
      width: 40px;
      height: 20px;
      text-align: center;
      background: $black;
      color: $white;
      font-size: 12px;
      line-height: 20px;
    }

    .media-desc {
      height: 50px;
      color: $gray;
      font-size: 12px;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .media-price {
      font-size: 14px;
      color: $black;
    }
  }
}

.attention-row {
  @extend .collect-row;
  height: 80px;

  .media-hd {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .media-bd {
    height: 60px;
  }

  .media-desc {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;//文字超过盒子宽度显示省略符号
    white-space: nowrap;//文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止
    /*不明白微信为毛写那么多和换行相关的属性*/
    word-wrap: normal;
    word-wrap: break-word;//允许长单词换行到下一行
    word-break: break-all;//使用浏览器默认的换行规则
  }
}
