.tagBox {
  position  : fixed;
  top       : 0;
  right     : 0;
  z-index   : $zindex-tag-box;
  width     : 100%;
  background: #fff;

  .tagLogo {
    font-size       : 20px;
    background-color: white;
    color           : black;
    line-height     : 49px;
    text-align      : center;
  }

  .tagBtn {
    position   : absolute;
    right      : 10px;
    top        : 0;
    z-index    : $zindex-menu-link;
    height     : $tag-height;
    line-height: 45px;
    color      : $dim-black;

    i { font-size: 20px; }
  }

  .tagMenu {
    position  : fixed;
    left      : 0;
    right     : 0;
    overflow  : auto;
    z-index   : $zindex-hidden !important;
    width     : 100%;
    height    : 570px;
    box-sizing: border-box;
    background: #DFDFDF;
    @include slide-animation(right-left);

    .tag-title {
      display    : block;
      padding    : 5px 15px;
      background: white;
    }
  }

  .tagRowBox {
    background: white;
    width: 100%;
  }

  .tagColBox {
    display      : inline-block;
    padding: 1.35% 4%;
    margin: 1.35%;
    font-size    : 12px;
    background-color: #EDEDED;
    border       : 1px solid rgba(255, 255, 255, .1);
  }

  .tagColBoxActive {
    background-color: black;
    color: white;
  }
}

.tagButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include slide-animation(right-left);

  button {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: $white;
    height: 50px;
    margin-top: 20px;
  }

  .yesImPretySure {
    background: #151515;
  }
}

#queryIcon {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  display: inline-block;
}

.rotateX180deg {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.hide {
  display: none;
}

.show {
  display: block;
}
