.你好我的名字叫盒子😊 {
  background-color: white;
  border: 1px solid #545454;
  margin: 60px 10px;
  text-align: center;
}

.你有什么❤️事要对盒子说吗㊙️ {
  margin: 30px 0;
  font-size: 16px;
  span {
    margin-left: 5px;
    font-weight: bold;
  }
}

.给你介绍一下这是我们公司的二维码✌️ {

}

.callMeMaybe😋 {

}
