/* BookSuccessDialog.js */
.bookSuccessDialog {
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: url("/imgs/bookPageBg.png");
  padding-bottom: 30;

  .headText {
    font-size: 2em;
    color: #3c3c3c;
    font-weight: lighter;
    margin: 29px auto 0;
  }

  .subText {
    margin-bottom: 7;
  }

  .close {
    position: absolute;
    right: 29;
    top: 25;
    margin: -15;
    padding: 15;
    font-size: 22;
  }

  .doubleCheckTicket {
    background-color: white;
    margin: 0 auto;
    width: 90%;
  }

  .wave {
    background: url("/imgs/bookIntroBg.png") repeat-x;
    background-position: bottom;
    width: 90%;
    margin: 0 auto;
    height: 20;
  }
}
