.OrderDetailLayout {
	.icon_box {
		@include flex;
    @include justify_content_space_around;
    padding: 10px 0;
    background: #fff;
    text-align: center;

    span {
      position: relative;

      &:not(:last-child):after {
        @include triangle_right(5px, #999);
        position: absolute;
        right: -33px;
        top: 30px;
      }

      i { font-size: 32px; }
    }
	}

  .order-msg {
    padding: 15px;
    overflow: hidden;
    background: #fff;

    p {
      height: 20px;
      line-height: 20px;

      span:first-child {
        display: inline-block;
        width: 6em;
      }
    }

    p:last-child {
      height: 60px;
      line-height: 18px;

      span {
        display: inline-block;
        vertical-align: top;

        &:last-child {
          width: 70%;
          height: 60px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
