.tagMuneIn { top: -340px !important; }
.tagMuneDown { top: 56px !important; }

.tagMenu {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: -340px;
  z-index: 1000;
  padding: 15px 0;
  background: #000;
  color: #fff;
  opacity: 0.95;
  -webkit-transition: top ease .5s;
          transition: top ease .5s;

  span {
    color      : #CCAC7B;
    display    : block;
    padding    : 5px 15px;
    font-weight: 800;
  }

  .tagRowBox {}

}

.workIntroGrapherRow {
  .top {
    width        : 0;
    height       : 0;
    border-left  : 14px solid transparent;
    border-right : 14px solid transparent;
    border-bottom: 14px solid rgba(0,0,0,.8);
    transform    : rotate(-45deg);
    position     : absolute;
    top          : -2px;
    right        : 0;
    margin-right : -18.999px;
  }

  .bottom {
    width        : 0;
    height       : 0;
    border-left  : 14px solid transparent;
    border-right : 14px solid transparent;
    border-bottom: 14px solid rgba(0,0,0,.8);
    transform    : rotate(-135deg);
    position     : absolute;
    bottom       : -2px;
    right        : 0;
    margin-right : -18.8px;
  }
}
