html { height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.7;
  background: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  cursor: pointer;
}

#app {
  min-height: 100%;
  width: 100%;
  background: #F2F2F2;
  /*position: absolute;*/
}

.index { text-align: center; }

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

:focus {
  outline: transparent none 0;
}

/*走马灯*/

.sliderBox { margin-bottom: -7px; }

.sliderButtonsLine {
  position: absolute;
  margin: -44px auto 18px;
  width: 100%;
}

.sliderButtons {
  /*  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;*/
  /*width: 103px;*/
  margin: 0 auto;
  z-index: 100;
}

.sliderButtons>img {
  height: 100%;
  width: 6px;
  margin: 0 9px;
}

.currentCarousel {
  margin: -1px 8px 0 8px!important;
  width: 8px!important;
}


/* 分割线 */

.splitContent { color: #191919; }
.splitLine { margin: -25px 0 -8px; }

.splitContent>:first-child {
  margin-bottom: -8px;
  padding-left: 19px;
  letter-spacing: 19px;
}


/*暂时隐藏活动和访谈*/
.spliterWork,
.spliterGrapher,
.spliterInterview,
.spliterActivity {
  margin: 17px 0;
}


/*.spliterInterview,
.spliterActivity {
  display: none;
}*/


/*访谈活动DEMO*/

.imageCircleGrid>img,
.imageRectGrid>img {
  width: 100%;
}

.imageCircleGrid { margin-bottom: 115px; }

.active-item:active {
  color: white!important;
  background-color: #3c3c3c!important;
}


/*访谈活动详情页*/

.interviewContent p img,
.ActivityContent p img {
  max-width: 100%;
}

.interviewContent,
.ActivityContent,
.slick-slider {
  max-width: 100%;
  overflow-x: hidden;
}

.interviewContent,
.ActivityContent,
.interviewCover,
.ActivityCover {
  margin: auto 10px;
}
